section {
  padding-top: 80px;
  padding-right: 80px;
  padding-bottom: 10px;
  padding-left: 80px;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: "NunitoRegular", 'Nunito', nunito-regular, sans-serif;
  font-size: 17px;
  font-weight: 400;
  background-color: #fff;
  color: #7c7c7c;
}

h1 {
  font-size: 200%;
  letter-spacing: 3px;
  font-weight: 400;
}

#fase1 h1 {
	color: #FFFFFF;
	
}

#fase1 p {
	color: #FFFFFF;
}
  
header {
  background: #FFFFFF;
  color: #fd752b;
  padding: 22% 0;
}

.mapa {
  background: #ff5a00;
}

header p {
  font-family: "NunitoRegular", 'Nunito', nunito-regular, sans-serif;
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: 0;
  font-size: 60px;
  margin-top: -30px;
}

.timeline {
  position: relative;
}
.timeline::before {
  content: "";
  background: #fd752b;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .card-phase {
  right: auto;
  left: 0;
  border-radius: 10;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
  content: "";
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 40px;
  height: 40px;
  background: url("https://jornadasmiles.netlify.app/img/aviao_01.svg");
  position: absolute;
  transform: rotate(-105deg);
  left: 49.8%;
  margin-top: 25px;
  margin-left: -15px;
}

.img-card{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}

a {
  background: #fd752b;
  outline: none;
  color: #FFFFFF;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border: none;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  border-radius: 3px;
}
a:hover, a:active, a:focus {
  background: #ff5a00;
  color: #FFFFFF;
  text-decoration: none;
}

.bnt-more{
	margin-right: 10px;
}

.timeline-card {
  padding: 0 !important;
}
.timeline-card p {
  padding: 0 20px;
}
.timeline-card a {
  margin-left: 20px;
}

.timeline-img-header {
  height: inherit;
  position: relative;
  margin-bottom: 20px;
}
.timeline-img-header h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #fd752b;
  padding: 0 20px;
}

.card-phase {
  background: #FFFFFF;
  display: inline-block;
  color: #fd752b;
  padding: 7px;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}

.topcorner{
   position:fixed;
   top:0;
   right:0;
   color: #FFFFFF;
   z-index: 100000;
}

.img_pq{
	display: block;
    max-width: 50%;
    height: auto;
	margin:auto;
}


@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}

